html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* NAVIGATION */

.navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-ffbo {
    /*font-family: 'sinkin_sans700_bold';*/
    font-size: 18px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 50px 0;
}

.navbar-brand {
    padding: 0px 0px 5px 20px;
}

.navbar-ffbo .navbar-nav > li > a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.top-nav-collapse {
    padding: 8px 0;
}


.navbar-ffbo {
    color: #ffffff;
}

.navbar-ffbo a {
    color: #ffffff;
    max-width: auto;
    overflow-y: hidden;
}
.navbar-nav > li {
    text-align: center;
    min-width: 120px;
}
.navbar-nav:hover > li {
    display: block;
}

.navbar-ffbo .navbar-nav > li > a:hover {
    color: #2980b9;
}

.navbar-ffbo .navbar-toggle {
    background: #ffffff;
    margin-right: 20px;
}

.top-nav-collapse {
    background-color: rgba(52, 152, 219, 1);
}

.navbar-ffbo .navbar-toggle .icon-bar {
    background: #3498db;
}

/* Banner */

#banner {
    background: url(../img/ffb.jpg) bottom center no-repeat;
    background-color: #000000;
    width: 100%;
    max-height: auto;
    height: 70px;
    margin-bottom: 0px;
    position: relative;
    display: table;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#banner h1 {
    border-radius: 5px;
    border: 3px solid #c2c2c2;
    font-size: 60px;
    margin-top: 3em;
    color: #7c7c7c;
    background: rgba(100,100,100,0.5);
    animation: banner-h1-fadein 3.5s;          /* generic */
    -moz-animation: banner-h1-fadein 3.5s;     /* Firefox */
    -webkit-animation: banner-h1-fadein 3.5s;  /* Safari and Chrome */
    -o-animation: banner-h1-fadein 3.5s;       /* Opera */
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

@keyframes banner-h1-fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes banner-h1-fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes banner-h1-fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes banner-h1-fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#banner h3 {
    text-shadow: 2px 2px #222222;
    /* font-family: 'Economica'; */
    font-size: 40px;
    color: #eeeeee;
}

/* http://codepen.io/nxworld/full/OyRrGy/ */
.scrollarrow a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    animation: banner-h1-fadein 8s;          /* generic */
    -moz-animation: banner-h1-fadein 8s;     /* Firefox */
    -webkit-animation: banner-h1-fadein 8s;  /* Safari and Chrome */
    -o-animation: banner-h1-fadein 8s;
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scrollarrow a:hover {
    opacity: .5;
}

#banner a span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#banner a span:nth-of-type(1) {
    bottom: 56px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#banner a span:nth-of-type(2) {
    bottom: 40px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#banner a span:nth-of-type(3) {
    bottom: 24px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.countdown {
    display: table-cell;
    vertical-align: middle;
    height:100vh;
}

#countdown {
    margin: 40px 0 90px 0;
}

#countdown .countdown_amount {
    font-family: 'Economica';
    font-size: 50px;
    margin-bottom: 10px;
}

/* Carousel */
#carousel .row{
    /* padding-top: 90px; */
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-indicators li {
    border-color: #555555;
    background-color: #000000;
}

.carousel-indicators .active {
    background-color: #555555;
}

/* Mission */
#mission {
    background: #333333;
}
#mission .row {
    padding-top: 50px;
    padding-bottom: 50px;
}
#mission h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

#mission h5 {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: #cccccc;
}

#mission .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: #aaaaaa;
}

#mission .lead {
    letter-spacing: 0px;
}

/* Team */
#team {
    background: #ffffff;
}

#team h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

#team .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#team .row h4 {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

#team .row h5 {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#team .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
}

#team .row p > img {
    text-align:center;
    width: 300px;
    height: 120px;
    object-fit: cover;
}

/* Tech */
#tech {
    background: #333333;
}

#tech h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #ffffff;
}

#tech .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tech h4 {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #eeeeee;
}

#tech a {
    color: #eeeeee;
}

#tech .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    color: #cccccc;
    text-align:center;
}

#tech .row p > img {
    padding-top: 10px;
    text-align:center;
    width:200px;
    height:auto;
}

/* workflow */

#workflow h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
#workflow .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
}
#workflow .row p > img {
    width:95%;
    height:auto;
    text-align:center;
}

/* neuronlp */

#neuronlp {
    background: #333333;
}

#neuronlp h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #ffffff;
}
#neuronlp .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
    color: #eeeeee;
}
#neuronlp .row p > img {
    width:95%;
    height:auto;
    text-align:center;
}

/* neuronlp */

#neurogfx {
    background: #ffffff;
}

#neurogfx h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
#neurogfx .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
}
#neurogfx .row p > img {
    width:95%;
    height:auto;
    text-align:center;
}

/* neuroapp */

#neuroapp {
    background: #333333;
}

#neuroapp h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #ffffff;
}
#neuroapp .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
    color: #eeeeee;
}
#neuroapp .row p > img {
    width:95%;
    height:auto;
    text-align:center;
}





.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .row p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    text-align:center;
}

/* Preload */
#preload {
    background: #212133; /* #ececee; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: table;
}

#preload h2 {
    color: #ececee;
    text-align: center;
    font-size: 20px;
}

.preload {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.loader {
    background: url(../img/ffbo_logo.png) bottom center no-repeat;
    background-size: 100%;
    margin: 3em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    animation: loading 1.1s infinite linear;         /* generic */
    -webkit-animation: loading 1.1s infinite linear; /* Firefox */
    -moz-animation: loading 1.1s infinite linear;    /* Safari and Chrome */
    -o-animation: loading 1.1s infinite linear;      /* Opera */
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

/*.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}*/

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
