<div class="post-container">
  <div *ngIf="selectedPost === faqs" class="post-markdown">
    <h1>{{faqs.title}}</h1>
    <!-- <i>{{faqs.updated_at}}</i> -->
    <div Markdown>
      {{faqs.body}}
    </div>
  </div>
  <div Markdown *ngIf="selectedPost === code" class="post-markdown">
    <h1>{{code.title}}</h1>
    <!-- <i>{{code.updated_at}}</i> -->
    <div Markdown>{{code.body}}</div>
  </div>
  <div Markdown *ngIf="selectedPost === hackathons" class="post-markdown">
    <h1>{{hackathons.title}}</h1>
    <!-- <i>{{hackathons.updated_at}}</i> -->
    <div Markdown>{{hackathons.body}}</div>
  </div>
  <div Markdown *ngIf="selectedPost === workshops" class="post-markdown">
    <h1>{{workshops.title}}</h1>
    <!-- <i>{{workshops.updated_at}}</i> -->
    <div Markdown>{{workshops.body}}</div>
  </div>
  <div Markdown *ngIf="selectedPost === tutorials" class="post-markdown">
    <h1>{{tutorials.title}}</h1>
    <!-- <i>{{tutorials.updated_at}}</i> -->
    <div Markdown>{{tutorials.body}}</div>
  </div>
</div>
