.post-container {
  margin-bottom: 50px;
}

.post-markdown {
  padding-left: 30px;
  padding-right: 30px;

  ::ng-deep h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  ::ng-deep hr {
    border-style: groove;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: .2;
    border-bottom-width: 1px;
  }

  ::ng-deep p {
    margin: 0;
  }

  ::ng-deep h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
  }

  ::ng-deep h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
  }

  ::ng-deep h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
  }

  ::ng-deep ul {
    list-style: inside;
  }

}
