@import "~src/_variables.scss";

.top-bar {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: $primary;

  .ffbo-logo {
    img {
      width: 50px;
      height: 50px;
    }

    .ffbo-text {
      margin-left: 10px;
      color: white;
      font-weight: 400;
      font-size: 1rem;
    }
  }

}

.flex-spacer {
  flex-grow:1;
}

.ffbo-logo {
  flex: flex-start;
}

.top-bar-btn {
  color: white !important;
  flex: initial;

  ::ng-deep span {
    font-family: Exo, "Helvetica Neue", sans-serif;
  }
}

.dropdown-menu {
  background-color: $foreground;

  .dropdown-item {
    color: white;

    ::ng-deep span {
      font-family: Exo, "Helvetica Neue", sans-serif;
    }
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent;
}
