<mat-toolbar class='top-bar' color='primary'>
  <a mat-button class="ffbo-logo" routerLink=''>
    <img src="../assets/img/ffbo_logo.png">
  </a>
  <a mat-button routerLink='' class="ffbo-text" style="color: white; font-size: 1.2rem;">
    Fruit Fly Brain Observatory
  </a>
  <div class="flex-spacer"></div>

  <a class="top-bar-btn" mat-button routerLink='' (click)="getStarted()">Get Started</a>
  <app-brainmapviz-menu></app-brainmapviz-menu>
  <!-- <a class="top-bar-btn" mat-button (click)="launchActivityMap()">Activity Map</a> -->
  <!-- <a class="top-bar-btn" mat-button routerLink="/brainmaps">Brainmaps</a> -->
  <a class="top-bar-btn" mat-button (click)="launchFBL()">FlyBrainLab</a>
  <!-- <a class="top-bar-btn" mat-button routerLink="/get-involved">Meet the Team</a> -->
  <app-get-involved-menu></app-get-involved-menu>
</mat-toolbar>
