<div class="page brainmapsviz-wrapper">
  <h2 class="page-title" [innerHTML]="this.header.title"></h2>
  <h3 class="page-subtitle" *ngIf="header.subtitle">{{this.header.subtitle}}</h3>
  <p class="page-desc">{{this.header.desc}}</p>
  <app-gallery></app-gallery>
  <h3 class="page-subtitle" *ngIf="sectionHeader.title">{{this.sectionHeader.title}}</h3>
  <p class="page-desc" [innerHTML]="this.sectionHeader.desc"></p>
  <div class="brainmapsviz-component-container">
    <app-map-viz-card *ngFor="let v of vizs" [data]="v"></app-map-viz-card>
  </div>
</div>
