<div class="page brainmapsviz-wrapper">
  <div class="banner">
    <div class='banner-text'>
      <h1 class="page-title" [innerHTML]="this.header.title"></h1>
      <h3 class="page-subtitle" *ngIf="header.subtitle">{{this.header.subtitle}}</h3>
      <p class="page-desc">{{this.header.desc}}</p>
    </div>
    <div id='banner-background'>
      <img [src]="backgroundImg" alt='BrainMapsViz UI'/>
    </div>
  </div>
  <app-gallery></app-gallery>
  <h2 class="section-title" *ngIf="sectionHeader.title">{{this.sectionHeader.title}}</h2>
  <p class="page-desc" [innerHTML]="this.sectionHeader.desc"></p>

  <h3 class="section-subtitle">&nbsp;&nbsp;Connectome</h3>
  <div class="brainmapsviz-component-container">
    <app-map-viz-card *ngFor="let v of vizs.connectome" [data]="v"></app-map-viz-card>
  </div>
  <h3 class="section-subtitle">&nbsp;&nbsp;Gene Expression</h3>
  <div class="brainmapsviz-component-container">
    <app-map-viz-card *ngFor="let v of vizs.gene" [data]="v"></app-map-viz-card>
  </div>
  <h3 class="section-subtitle">&nbsp;&nbsp;Activities Maps</h3>
  <div class="brainmapsviz-component-container">
    <app-map-viz-card *ngFor="let v of vizs.activity" [data]="v"></app-map-viz-card>
  </div>
</div>
