<div class='page banner'>
  <div class='banner-text'>
    <h1 class='mat-display-3'>Fruit Fly Brain Observatory</h1>
    <p>
      Open source collaborative ecosystem for accelerating the discovery of the functional logic of the fruit fly brain.
    </p>
    <div class='banner-btns-container'>
      <a mat-button class="banner-btn" routerLink='/posts/explore_ffbo'>
        Explore
        <img src="../assets/img/ffbo_logo_transparent.png">
      </a>
      <a mat-button class="banner-btn" routerLink='/posts/resources'>
        Resources
        <img src="../assets/img/ffbo_logo_transparent.png">
      </a>
      <!-- <a mat-button class='banner-btn' (click)="openDialog('background')"> Background </a>
      <a mat-button class='banner-btn' (click)="openDialog('overview')"> Overview </a>
      <a mat-button class='banner-btn' href={{overview.publication}}> Publication </a> -->
      <!-- <a mat-button class="banner-btn" routerLink='' (click)="getStarted()">Overview</a> -->
      <!-- <a mat-button class="banner-btn" routerLink='/posts/explore_ffbo'>Explore FFBO</a>
      <a mat-button class="banner-btn" routerLink='/posts/resources'>Resources</a> -->
      <!-- <a mat-button class='banner-btn' href='https://github.com/fruitflybrain/info/wiki/Fruit-Fly-Brain-Observatory-Resources' aria-label="github">
        <fa-icon [icon]="faGithub"></fa-icon>
        Resources
      </a> -->
      <!-- <a mat-button class='banner-btn' href='https://github.com/fruitflybrain'> Source Code </a> -->
      <!-- <a mat-button class='banner-btn' routerLink='/posts/hackathons'> FFBH 2020 </a> -->
      <!-- <a mat-button class='banner-btn' routerLink='/posts/workshops'> BCMC 2020 </a> -->
    </div>
  </div>
  <div id='banner-background'>
    <!-- <iframe width="560" height="315" [src]="backgroundVidURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <!-- <iframe [src]="backgroundVidURL" frameborder="0"></iframe> -->
    <video id='banner-background-video' *ngIf="!showImage" [poster]="backgroundImg" (onerror)="onVideoError()" playsinline autoplay loop muted="true" controls="true" [src]="backgroundVidURL" type="video/mp4"></video>
    <img *ngIf="showImage" [src]="backgroundImg" alt='From Structure to Function...'/>
<!--     <object>
        <param name="movie" *ngIf="showImage" value="http://www.youtube.com/v/cuiR_sdrdeA&autoplay=1">
        <embed *ngIf="showImage" src="http://www.youtube.com/v/cuiR_sdrdeA&autoplay=1" type="application/x-shockwave-flash">
    </object> -->

  </div>
</div>
