@import '../../../styles.scss';

.overview-wrapper {
  max-width: 800px;
  width: 80%;
  max-height: 300px;
  display: flex;
  justify-content: space-around;

  img {
    max-width: 50%;
  }
}
.overview-img{
  flex-basis: 50% or auto;
  height: 100%;
}

mat-card.overview {
  width: 320px;
  // height: 280px;
  flex-basis: 50% or auto;
  background: transparent;
  box-shadow: none !important;

  .overview-title{
    h2 {
      line-height: 30px;
    }

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
