@import "~src/_variables.scss";

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  padding-bottom: 50px;

  h2.section-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.innovations-container{
  height: 600px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: baseline;
  vertical-align: middle;

  .innovations-drawer{
    width: 50% or auto;
    height: auto;
    mat-drawer-content {
      padding-left: 10px;
    }

    .innovation-detail-stepper {
      background: none;
    }
  }

  .stakeholders-tabs {
    border-radius: 25px;
    color: $background;
    min-height: 400px;

    mat-drawer {
      width: 25%;
      max-width: 200px;
    }

    mat-drawer-content {
      opacity: 0.8;
    }
  }

  .innovations-svg {
    width: 50% or auto;
    height: auto;

    svg {
      height:auto;
      width: auto;
    }
  }

  .stakeholder-tabs-btn {
    vertical-align: middle;
    font-size: 0.9rem;
  }
}


:host ::ng-deep .innovations-svg svg {
  .btn.data {
    // filter: url('#unhighlight-1');
    filter: url('#grayscale');
  }

  .ring {
    // filter: url('#unhighlight-1');
    filter: url('#grayscale');
  }

  .btn.innovation {
    // filter: url('#unhighlight-3');
    filter: url('#grayscale');
  }

  .btn.stakeholder {
    // filter: url('#unhighlight-3');
    filter: url('#grayscale');
  }

  .btn:hover, .ring:hover {
    filter: none !important;
  }

  .highlight {
    filter: none !important;
  }
}



// .ffbo-overview {
//   opacity: 0.8;
//   display: block;
//   margin-top: -30px;
//   margin-left: 60px;
//   margin-right: 60px;
//   margin-bottom: 30px;
// }

// .ffbo-overview-title {
//   font-size: 2rem;
//   text-align: center;
// }

// .ffbo-overview-container {
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 0px;
//   padding-bottom: 20px;

//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

// .image-tile {
//   margin-top: 50px;
//   margin-bottom: 50px;
// }


// .ffbo-component-container {
//   display:flex;
//   align-items: stretch;
//   overflow: hidden;
//   justify-content: space-evenly;
//   padding-top: 30px;
//   padding-bottom: 60px;
// }

// .ffbo-component-title {
//   max-width: 600px;
// }

// .ffbo-component-card {
//   max-width: 25%;
// }

// .mat-display-1 {
//   margin-bottom: 0px;
// }
