@import '~@angular/material/theming';
@import '../../../styles.scss';

.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  max-height: 400px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 60px;
  padding-bottom: 72px;
}

.banner-text {
  flex-basis: 50% or auto;
  vertical-align: middle;
  min-width:40%;
  background-color: inherit;

  h1 {
    font-weight:  200;
    letter-spacing: -.02em;
    font-size: 3.2rem;
    line-height: 3.6rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
  }

  p {
    font-size: .9rem;
    font-weight: 200;
    line-height: 1.8rem;
    margin: .3rem .25rem;
    max-width: 31.2rem;
  }

  .banner-btns-container{
    display: flex;
    justify-content: flex-start;

    .banner-btn{
      margin-top: 20px;
      margin-right: 20px;

    }
  }

  .banner-btn:nth-child(2n+1){
    background-color: mat-color($primary, darker);
    color: white;
  }
  .banner-btn:nth-child(2n){
    background-color: mat-color($primary, lighter);
    color: black;
  }
}

.banner-background {
  flex-basis: 50% or auto;
  justify-content: baseline;
  img {
    width: 100%;
  }
}
