<div class='banner' color='primary'>
  <div class='banner-text'>
    <h1 class='mat-display-3'>Fruit Fly Brain Observatory</h1>
    <p>
      Open source Open collaborative ecosystem, standardized tools
      for storing, visualizing, manipulating, modeling, sharing fruit fly brain data and models.
    </p>
    <div class='banner-btns-container'>
      <a mat-button class='banner-btn' (click)="openDialog('background')"> Background </a>
      <a mat-button class='banner-btn' (click)="openDialog('overview')"> Overview </a>
      <a mat-button class='banner-btn' href={{overview.publication}}> Publication </a>
    </div>
  </div>
<!--   <div class='banner-background'>
    <img [src]="backgroundImg"/>
  </div> -->
  <div class='banner-background'>
    <!-- <iframe width="560" height="315" [src]="backgroundVidURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <!-- <iframe [src]="backgroundVidURL" frameborder="0"></iframe> -->
    <video id='banner-background-video' autoplay muted loop>
      <!-- <img [src]="backgroundImg" alt='From Structure to Function...' /> -->
      <source [src]="backgroundVid" type="video/mp4">
    </video>
  </div>
</div>
