div.get-involved-container{
  padding: 24px;
}

div.get-involved-top {
  padding-bottom: 30px;
}

div.get-involved-sections-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
