@import "~src/_variables.scss";

.innovations-wrapper {
  padding:10px 10px 60px 60px;

  h1, h2, h3 {
    margin: 0 0 0.6rem 0.6rem;
  }
}

.innovations-container{
  height: 600px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: baseline;
  vertical-align: middle;

  .innovations-drawer{
    width: 50% or auto;
    height: auto;
    mat-drawer-content {
      padding-left: 10px;
    }

    .innovation-detail-stepper {
      background: none;
    }
  }

  .stakeholders-tabs {
    border-radius: 25px;
    color: $background;
    min-height: 400px;

    mat-drawer {
      width: 25%;
      max-width: 200px;
    }

    mat-drawer-content {
      opacity: 0.8;
    }
  }

  .innovations-svg {
    width: 50% or auto;
    height: auto;

    svg {
      height:auto;
      width: auto;
    }
  }

  .stakeholder-tabs-btn {
    vertical-align: middle;
    font-size: 0.9rem;
  }
}

.ffbo-component-wrapper {
  margin-top: 30px;
}

.ffbo-component-container {
  display:flex;
  align-items: stretch;
  overflow: hidden;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 60px;
}

.ffbo-component-title {
  max-width: 600px;
}

.ffbo-component-card {
  max-width: 25%;
}


:host ::ng-deep .innovations-svg svg {
  .btn.data {
    // filter: url('#unhighlight-1');
    filter: url('#grayscale');
  }

  .ring {
    // filter: url('#unhighlight-1');
    filter: url('#grayscale');
  }

  .btn.innovation {
    // filter: url('#unhighlight-3');
    filter: url('#grayscale');
  }

  .btn.stakeholder {
    // filter: url('#unhighlight-3');
    filter: url('#grayscale');
  }

  .btn:hover, .ring:hover {
    filter: none !important;
  }

  .highlight {
    filter: none !important;
  }
}

