.gallery-container {
  overflow: scroll;
  width: 100%;
  max-height: 500px;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}


.tile {
  border-radius: 10px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  .tile-overlay {
    display: none;
  }
}

.tile:hover {
  box-shadow: 0 14px 20px gray, 0 10px 10px gray;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  .tile-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: baseline;
    text-align: center;
    transition: display 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.5);
  }

}
