<div class="gallery-container">
  <mat-grid-list [cols]="Ncols" gutterSize="10px">
    <div *ngFor="let tile of tiles">
      <mat-grid-tile
        [colspan]="tile.cols ? tile.cols : 1"
        [rowspan]="tile.rows ? tile.rows : 1"
        class="tile"
        [style.background]="'url(' + tile.img + ')'"
        (click)="openDialog(tile.tag_url)"
        >
        <div class="tile-overlay">
          <span class="tile-title">{{tile.title}}</span>
          <!-- <span class="tile-desc">{{tile.desc}}</span> -->
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
