mat-card.profile-card {
  height: 180px;
  width: 220px;
  text-align: center;
  box-shadow: none;
  overflow: hidden;
  background: transparent;

  mat-card-title {
    font-weight: 150;
    font-size: 1rem;
  }

  mat-card-subtitle {
    font-size: .8rem;
    margin-bottom: 0;
  }

  mat-card-content {
    overflow: hidden;
    font-size: .7rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-weight: 150;
    opacity: .8;
  }

  img.profile-card-img {
    // height: 30%;
    clip-path: circle(50px at center);
    width:6.2rem;
  }
}
