<div>
  <app-banner></app-banner>
  <mat-card class="ffbo-overview">
    <h1 class="ffbo-overview-title">From Structure to Function</h1>
    <div class="ffbo-overview-container">
      <mat-horizontal-stepper linear="true" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>check_circle</mat-icon>
        </ng-template>
        <mat-step
          *ngFor="let overview of overviews"
          [label]="overview.title">
          <app-ffbo-overview-card
            title = {{overview.title}}
            img = {{overview.img}}
            description = {{overview.description}}>
          </app-ffbo-overview-card>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-card>

  <div class="image-tile">
    <app-image-tile [tiles]="showcase"></app-image-tile>
  </div>
</div>
