div.get-involved-container{
  padding: 60px;
}

div.get-involved-top {
  padding-bottom: 30px;
}

div.get-involved-sections-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mat-display-2 {
  margin: 0 0 0 0.6rem;
}
