// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $display-4: (
    margin: 0 0 0.6rem
  ),
  $display-3: (
    margin: 0 0 0.6rem
  ),
  $display-2: (
    margin: 0 0 10px !important
  ),
  $display-1: (
    margin: 0 0 0.6rem
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $primary: mat-palette($mat-red);
// $accent: mat-palette($mat-teal, A200, A100, A400);
// // The warn palette is optional (defaults to red).
// $warn: mat-palette($mat-red);

$primary: mat-palette($mat-gray, A900);
$accent: mat-palette($mat-gray, A200, A100, A400);
// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-light-blue, A900);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent, $warn);
// $foreground: map-get($theme, foreground);
// $background: map-get($theme, background);

$custom-background-color: #020202;
$custom-foreground-color: #000000;

$background: map-get($theme, background);
$background: map_merge($background, (background: $custom-background-color));
$foreground: map_merge(map-get($theme, foreground), (foreground: $custom-foreground-color));
$theme: map_merge($theme, (background: $background, foreground: $foreground));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

.mat-toolbar.mat-primary {
  color: #ffffff;
  // background-color: #000000;
}

.mat-card {
  background: #212121;
}

.mat-stepper-horizontal {
  background: #212121;
}

.ffbo-dialog-backdrop {
  background: #020202eb;
}

.mat-step-icon.mat-step-icon-selected {
  background-color: mat-color($warn, darker);
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: mat-color($warn, darker);
}

a:link {
  text-decoration: none;
}


p {
  font-weight: 400;
}

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);
