@import "~src/_variables.scss";

.brainmaps-wrapper {
  margin-top: 60px;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 0.6rem;
  }
  h3 {
    margin-bottom: 0.6rem;
  }
}

.brainmaps-detail {
  display: block;
  width: 100%;

}

.brainmaps-detail:nth-child(2n+1) {
  background-color: black;
}
.brainmaps-detail:nth-child(2n){
  background-color: $foreground;
}

:host ::ng-deep .brainmaps-svg svg{
  .map-btn {
    cursor: pointer;
    filter: url('#grayscale');
  }

  .map-img {
    filter: url('#grayscale');
  }

  .map-btn:hover {
    filter: none !important;
    transition: filter 0.5s ease-in-out;
  }
  .map-img:hover {
    filter: none !important;
    transition: filter 0.5s ease-in-out;
  }
}
