<mat-toolbar class='top-bar' color='primary'>
  <a mat-button class="ffbo-logo" routerLink=''>
    <img src="../assets/img/ffbo_logo.png">
  </a>
  <a mat-button routerLink='' class="ffbo-text" style="color: white; font-size: 1.2rem;">
    Fruit Fly Brain Observatory
  </a>
  <div class="flex-spacer"></div>

  <!-- <a class="top-bar-btn" mat-button routerLink="/innovations">Innovations</a> -->
  <a class="top-bar-btn" mat-button [matMenuTriggerFor]="beforeMenu">BrainMapViz</a>
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="nlp-dropdown">
    <!-- <button mat-menu-item (click)="showNLPComponentCard()">
      What is NeuroNLP
    </button> -->
    <button mat-menu-item (click)="launchActivityMap()">
      Download <i>in vivo</i> Antenna Activity Data
    </button>
    <button mat-menu-item (click)="launchNLP('adult')">
      Launch NeuroNLP.Adult (with FlyCircuit and Janelia Medulla 7-column Data)
    </button>
    <button mat-menu-item (click)="launchNLP('larva')">
      Launch NeuroNLP.Larva (with Janelia Larva Olfaction Data)
    </button>
    <button mat-menu-item (click)="launchNLP('EM')">
      Download NeuroNLP.EM (with Hemibrain and VNC data)
    </button>
  </mat-menu>
  <!-- <a class="top-bar-btn" mat-button (click)="launchActivityMap()">Activity Map</a> -->
  <!-- <a class="top-bar-btn" mat-button routerLink="/brainmaps">Brainmaps</a> -->
  <a class="top-bar-btn" mat-button (click)="launchFBL()">FlyBrainLab</a>
  <a class="top-bar-btn" mat-button routerLink="/get-involved">Meet the Team</a>
</mat-toolbar>
